*::before,
*::after,
*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

// ///////Font Family Typograph set-up//////

// Font Family
$-ff: 'Bai Jamjuree', sans-serif;

// Body Font Size
$-fs-header: 4.6rem;
$-fs-h2: 3.6rem;
$-fs-h3: 2.4rem;
$-fs-paragraphy: 1.8rem;

// Font Weights
$-fw400: 400;
$-fw600: 600;

// /////////////Color Variables//////////////

// Primary

$-Strong-Cyan: hsl(171, 66%, 44%);
$-Light-Blue: hsl(233, 100%, 69%);
$-white: hsla(0, 0%, 100%, 1);


// Neutral

$-Dark-Grayish-Blue: hsl(210, 10%, 33%);
$-Grayish-Blue: hsla(201, 11%, 66%, 1);
$-footer-color: #F5F5F5;


//  /////////////Body
body{
  width: 100%;
  height: 100vw;

  // H1 Setting
  h1{
    font-size: $-fs-header;
    font-weight: $-fw600;
    font-family: $-ff;
    color: $-Dark-Grayish-Blue;
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 90%;
    margin-top: 1em;
  }

  // H2 Setting
  h2{
    font-size: $-fs-h2;
    color: $-Dark-Grayish-Blue;
    font-weight: $-fw600;
    margin: auto;
    text-align: center;
    max-width: 90%;
    margin-top: 15rem;
    margin-bottom: 1.5rem;
  }
  // H3 Setting
  h3{
    font-size: $-fs-h3;
    font-family: $-ff;
    color: $-Dark-Grayish-Blue;
    font-weight: $-fw600;
    margin: auto;
    text-align: center;
  }
  // Paragraphy Setting
  p{
    font-family: $-ff;
    font-size: $-fs-paragraphy;
    color: $-Grayish-Blue;
    font-weight: $-fw400;
    text-align: center;
    margin: auto;
    line-height: 3rem;
  }
}

// //////////////Header 
header{
  width: 100%;
  height: 34.5em;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;

  // Header Logo
  #img-logo{
    margin: auto;
    width: 12.5em;
    display: block;
    height: auto;
    padding-top: 8.6em;
  }
}

// Main Section
main{

  #first-paragraphy{
    max-width: 65%;
  }

  #second-paragraphy{
    max-width: 67%;
  }

  // Buttons
  .buttons{
    width: 45%;
    display: flex;
    margin: auto;
    margin-top: 4.8rem;
    justify-content: space-evenly;
    
    button{
      border: none;
      width: 11.7em;
      height: 2.6em;
      border-radius: 100px;
      color: $-white;
      font-family: $-ff;
      font-size: $-fs-paragraphy;
    }

    .ios{
      background-color: $-Strong-Cyan;
    }
    .mac{
      background-color: $-Light-Blue;
    }
  }

  // Flex Middle
  #flex-middle{
    display: flex;
    margin-top: 8rem;

    img{
      max-width: 70rem;
      margin-left: -8rem;
    }
    #flex-info-group{
      max-width: 35rem;
      margin-left: 10rem;
      margin-top: 10rem;
      .info-group{
        h3{
          text-align: left;
        }
        p{
          text-align: left;
          font-size: 1.6rem;
        }
        margin-bottom: 3.6rem;
      }
    }
  }
}

// Middle Section
#middle-section{
  #bottom-h2{
    margin-top: 10.1rem;
  }
  p{
    max-width: 70%;
    margin-bottom: 11rem;
  }
  img{
    display: block;
    margin: auto;
  }
}


// Workflow Flex
#workflow-flex{
  display: flex;
  margin-bottom: 15rem;
  .info-group{
    max-width: 33%;
    .icon-text{
      margin: auto;
      display: block;
      height: 3.6rem;
    }
    p{
      max-width: 84%;
    }
  }
}

// company-logo-flex
#company-logo-flex{
  display: flex;
  justify-content: space-between;
  max-width: 1112px;
  margin: auto;
  .icon-logo{
    height: 4.9em;
  }
}


// bottom-info
#bottom-info{
  margin-bottom: 15rem;
  p{
    max-width: 70%;
  }
}



// Footer
footer{
  background-color: $-footer-color;  
  height: 15em;
  width: 100%;
  display: flex;
  align-items: center;


  #footer-logo{
    width: 5.5em;
    height: 5.5em;
    display: block; 
    margin-left: 8%;
  }
  #grid-div{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 6%;
    width: 50em;
    a{
      font-family: $-ff;
      font-size: $-fs-paragraphy;
      color: $-Grayish-Blue;
      font-weight: $-fw400;
      text-decoration: none;
      
    }
  }
  #social-logos{
    display: flex;
    justify-content: space-between;
    width: 17em;
    margin-left: 25em;
  }
}






